version: 2.1

orbs:
  aws-cli: circleci/aws-cli@4.0

jobs:
  build-and-test:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-
      
      - run:
          name: "Install Dependencies"
          command: "npm install"
      
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package-lock.json" }}
      
      - run:
          name: "Run Tests"
          command: "npm test"
      
      - run:
          name: "Build Application"
          command: "npm run build"
      
      - persist_to_workspace:
          root: .
          paths:
            - .

  deploy:
    docker:
      - image: cimg/python:3.10
    steps:
      - attach_workspace:
          at: .
      - aws-cli/setup:
          aws_access_key_id: AWS_ACCESS_KEY_ID
          aws_secret_access_key: AWS_SECRET_ACCESS_KEY
          region: AWS_REGION
      - run:
          name: Install AWS EB CLI
          command: |
            pip install awsebcli --upgrade
      - run:
          name: Create .elasticbeanstalk config
          command: |
            mkdir -p .elasticbeanstalk
            cat > .elasticbeanstalk/config.yml << EOF
            branch-defaults:
              main:
                environment: Docker-react-app-env
            global:
              application_name: docker-react-app
              default_platform: Docker
              default_region: $AWS_REGION
              sc: git
            EOF
      - run:
          name: Deploy to Elastic Beanstalk
          command: |
            eb deploy Docker-react-app-env --verbose

workflows:
  build-and-test-workflow:
    jobs:
      - build-and-test
      - deploy:
          requires:
            - build-and-test
          filters:
            branches:
              only: main