version: 2.1

orbs:
  aws-elastic-beanstalk: circleci/aws-elastic-beanstalk@2.0.1

jobs:
  build-and-test:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-
      
      - run:
          name: "Install Dependencies"
          command: "npm install"
      
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package-lock.json" }}
      
      - run:
          name: "Run Tests"
          command: "npm test"
      
      - run:
          name: "Build Application"
          command: "npm run build"
      
      - persist_to_workspace:
          root: .
          paths:
            - .

  deploy:
    docker:
      - image: cimg/base:stable
    steps:
      - attach_workspace:
          at: .
      - aws-elastic-beanstalk/deploy:
          application-name: docker-react-app
          environment-name: Docker-react-app-env
          label: "v-${CIRCLE_BUILD_NUM}"

workflows:
  build-and-test-workflow:
    jobs:
      - build-and-test
      - deploy:
          requires:
            - build-and-test
          filters:
            branches:
              only: main